*{
  margin: 0rem;
  padding: 0rem;
}

@font-face {
    font-family: pav;
    src: url('American Captain.ttf');
}
html{
    font-size: 62.5%
}

body{
    background-image: url('layered-waves-haikei.png'); 
    height: 100vh;
    width: 100vw;
    background-size:cover;
    background-position: center;
}

.log{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.3rem;
}
.log img{
    width: 28rem;
    border: 0.4rem solid rgb(252,108,178);
    border-radius: 100%;
}

.name{
    font-family: pav;
    color: rgba(247, 29, 156, 0.815);
    font-weight: 200;
    font-size: 8rem;
}

ul{
    display: flex;
    justify-content: space-around;
    font-family: pav;
    font-size: 2rem;
    color: rgb(253, 22, 110);
    list-style: none;    
}
  